<div class="container bg-blue-100 p-4 sm:p-6 lg:p-10 rounded-md mx-auto">
    <div class="flex justify-center">
        <div class="overflow-y-auto mx-auto">
            <br />
            <app-form-employee></app-form-employee>
            <br />
            <div  class="overflow-y-auto mx-auto w-full bg-white" style="max-height: 400px;">
                <div class="overflow-x-auto">
                    <table class="table-auto w-full">
                        <thead class="bg-gray-50">
                            <tr>
                                <th class="px-4 py-2">ID</th>
                                <th class="px-4 py-2">Name</th>
                                <th class="px-4 py-2">Email</th>
                                <th class="px-4 py-2">Birth Date</th>
                                <th class="px-4 py-2">Basic Salary</th>
                                <th class="px-4 py-2">Status</th>
                                <th class="px-4 py-2">Group</th>
                                <th class="px-4 py-2">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            <tr *ngFor="let employee of pagedEmployees">
                                <td class="border px-4 py-2 text-center">{{ employee.id }}</td>
                                <td class="border px-4 py-2 text-center">{{ employee.firstName }} {{ employee.lastName }}</td>
                                <td class="border px-4 py-2 text-center">{{ employee.email }}</td>
                                <td class="border px-4 py-2 text-center">{{ employee.birthDate | date }}</td>
                                <td class="border px-4 py-2 text-center">{{ employee.basicSalary | currency: 'IDR' }}</td>
                                <td class="border px-4 py-2 text-center">{{ employee.status }}</td>
                                <td class="border px-4 py-2 text-center">{{ employee.group }}</td>
                                <td class="border px-4 py-2 text-center">
                                    <button class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 rounded"
                                        (click)="deleteEmployee(employee.id)">
                                        Delete
                                    </button>
                                </td>
                                <td class="border px-4 py-2">
                                    <app-edit-employee [employeeId]="employee.id"></app-edit-employee>
                                </td>
                                <td class="border px-4 py-2">
                                    <app-detail-employee-v2 [employeeId]="employee.id"></app-detail-employee-v2>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
                <div class="flex flex-1 justify-between sm:hidden">
                    <a href="#"
                        class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
                    <a href="#"
                        class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
                </div>
                <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
                    <div>
                        <p class="text-sm text-gray-700">
                            Showing
                            <span class="font-medium">{{currentPage}}</span>
                            to
                            <span class="font-medium">{{itemsPerPage}}</span>
                            of
                            <span class="font-medium">{{employees.length}}</span>
                            results
                        </p>
                    </div>
                    <div>
                        <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                            <button (click)="setPage(currentPage - 1)" [disabled]="!hasPreviousPage()"
                                class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                                <span class="sr-only">Previous</span>
                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>
                            <button *ngFor="let page of range(totalPage)" (click)="setPage(page)" aria-current="page"
                                class="relative z-10 inline-flex items-center {{ currentPage == page ? 'bg-gray-600 text-white' : 'text-gray-700'}} px-4 py-2 text-sm font-semibold focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                {{ page }}
                            </button>
                            <button (click)="setPage(currentPage + 1)" [disabled]="!hasNextPage()"
                                class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                                <span class="sr-only">Next</span>
                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
