<div class="container bg-blue-100 bo p-10 rounded-md mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="bg-indigo-600 shadow-lg rounded-lg p-6">
            <h2 class="text-xl font-semibold text-white">Total Employees</h2>
            <p class="text-2xl text-white">{{this.totalEmp}}</p>
        </div>
        <div class="bg-indigo-300 shadow-lg rounded-lg p-6">
            <h2 class="text-xl font-semibold text-white">Total Active</h2>
            <p class="text-2xl text-white">3</p>
        </div>
        <div class="bg-red-500 shadow-lg rounded-lg p-6">
            <h2 class="text-xl font-semibold text-white">Total Inactive</h2>
            <p class="text-2xl text-white">15</p>
        </div>
    </div>
    <div class="container">
        <!-- <app-detail-employee></app-detail-employee> -->
    </div>
</div>